.faq_container {
  max-width: 1000px;
  padding: 45px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 45px;

}
.wrapper_center_FAQ {
  width: 100vw;
  min-height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-image: url(../../../../public/FAQpage.jpeg);
  background-size: cover; /* чтобы фон заполнял всю доступную область */
  background-position: center; /* чтобы фон был выровнен по центру */
  background-attachment: fixed; 
}

.acc_el {
}
.main_title_faq {
  font-size: 40px;
  font-weight: 100;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0 0 40px  0;
}
.title_faq {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 33px;
}
.description_faq {
  font-size: 16px;
  font-weight: 200;
  color: white;
}
.chakra-accordion__button {
  color: white;
}
.chakra-accordion__button:hover {
  background-color: transparent !important;
}
