@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav_container_center {
  max-width: 1400px;
  position: relative;
}

.nav_center {
  width: 100vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../../../public/navnavIMGGG.jpeg);
  background-size: cover;
  background-position: bottom;
}

.text_white {
  color: white;
}
.nav_text {
  color: white;
  font-size: 23px;
  transition: background-color 0.3s ease; /* Плавный переход для цвета фона */
  padding: 3px 6px;
  border-radius: 8px;
}
.nav_text:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Новый цвет фона при наведении */
  border-radius: 8px;
  border: 1px solid white;
}
.active {
  background: rgba(255, 255, 255, 0.08);
  padding: 5px 8px;
  border-radius: 12px;
  color: white;
  border: none;
}
.nav_sign {
  color: white;
  font-size: 19px;
  border: 1px solid white;
  padding: 3px 7px;
  border-radius: 7px;
  transition: background-color 0.3s ease; /* Плавный переход для цвета фона */
  font-weight: 600;
}

.nav_sign:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Новый цвет фона при наведении */
}

/* .nav_logo_box {
  background: rgba(255, 255, 255, 0.4);
} */

.nav_logo {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 80px;
  height: 75px;
}
