.one_tour_container {
  background-image: url(../../../../public/bgOneTour.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  min-height: 102vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
/* СТИЛИ ДЛЯ AboutTour */
/* СТИЛИ ДЛЯ AboutTour */
/* СТИЛИ ДЛЯ AboutTour */
.aboutTourContainer {
  background: rgba(0, 0, 0, 0.65);
  padding: 30px;
  border-radius: 20px;
}
.whiteTextAboutTour {
  color: white;
}
.titleAbouTour {
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}
.imgAboutTour {
  width: 80%;
  max-height: 100%;
  background-size: cover;
  background-position: center;
  border: 2px solid #00e7b952;
  border-radius: 10px;
}
.spanAboutTour {
  font-weight: bold;
  color: #00e7b996;
  font-size: 16px;
}
/* СТИЛИ ДЛЯ CommentsForTour */
/* СТИЛИ ДЛЯ CommentsForTour */
/* СТИЛИ ДЛЯ CommentsForTour */
.centerCommentsForTour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCommentsForTour {
  margin-top: 30px;
  width: 97%;
}
/* НАДО ДОДЕЛАТЬ С КОММЕНТАМИ!!! */
/* НАДО ДОДЕЛАТЬ С КОММЕНТАМИ!!! */
.cardForCommet {
  background: rgba(0, 0, 0, 0.43);
  padding: 0;
}
.formForCommetTour {
  margin-top: 10px;
  width: 97%;
}
.commentInputForTour {
  color: white;
}
.commentInputForTour:focus {
  background: rgba(193, 193, 193, 0.22);
}

.bodyCommet {
  background: rgba(0, 0, 0, 0.549);
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.673);
  border-radius: 5px;
}

.commentTextTour {
  color: white;
  padding: 15px 5px;
  font-size: 17px;
}
.btnSize {
  position: absolute;
  bottom: -12px;
  left: -43%;
}
.styleCardHeader{
    background: rgba(0, 0, 0, 0.219);
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
