.center_100_RentStule {
  background: rgba(71, 112, 53, 0.13);
  width: 100vw;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url(../../../../public/BG_chainik.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding-bottom: 60px;
}

.HeaderToursPage_style {
  align-items: center;
  justify-content: center;
  /* background: #00000080; */
  height: 180px;
  width: 100%;
}

/* кнопка стили */
/* кнопка стили */
/* кнопка стили */
/* кнопка стили */
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  margin: 20px 0 0 0;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 50px;

  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgba(45, 104, 106, 0.5);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  color: rgb(255, 255, 255);
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(97, 193, 231, 0.4);
}

.button:active {
  scale: 1;
}
